.link {
  color: #000;
  text-decoration: none;
  position: relative;
}

.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all .3s ease-out;

  /* start from middle */
  left: 50%;
  transform: translateX(-50%);
}

.link:hover::before {
  width: 100%;
}