/*Задание: Добавьте плавный переход, чтобы при наведении на .box ширина .point изменилась на 100%*/

.box {
  transition: 6s;
  cursor: pointer;
}

/*добавил прозрачность*/
.point {
  width: 50px;
  height: 50px;
  background-color: red;
  transition: 2s;
  opacity: 0.7;
}

.box:hover .point {
  width: 100%;
  opacity: 1;
}

/*--Задание: Добавьте плавный переход для трех свойств: transform (изменение масштаба на +10%), background-color (#e0e0e0) и box-shadow (уровень blur увеличится до 30px).*/

.product-card {
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.1);
  background-color: #e0e0e0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-size: 18px;
  text-align: center;
}

/*Задание: Добавьте плавный переход, где при наведении непрозрачность элемента должна упасть на 50%. Далее поработайте с бесконечной анимацией: установите ключевые кадры для 0% и 100%, где rotate(0deg) изменится на rotate(360deg). Если вы выполнили это задание, то добавьте кадр на 50% (середина пути), где угол будет равен 180deg и добавится изменение масштаба scale(1.5), чтобы увидеть, как изменится анимация.*/

.box2 {
  width: 100px;
  height: 100px;
  background-color: #4caf50;
  margin: 100px auto;
  transition: 0.5s;
  animation: rotate 2s infinite ease-in-out alternate;
  cursor: pointer;
}

.box2:hover {
  opacity: 50%;
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg);
  }
}
